
.navbar {
  background-color: lightgrey;
}

.jumbotron {
  background-image: url("./assets/images/blackWhite.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

.jumbotron-fluid {
  height: 23em;
}

@media (min-width: 576px) { 
  #margin-left {
    margin-left: 0;
  }
}